In [1]:
!pip install pip --upgrade
!pip install pymysql
!pip install sqlalchemy

Requirement already satisfied: pip in /home/jean/.pyenv/versions/3.8.6/envs/reestimator/lib/python3.8/site-packages (21.2.4)
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 324 kB/s eta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.23-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 1.5 MB/s eta 0:00:01
Collecting greenlet!=0.4.17
  Using cached greenlet-1.1.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (150 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.1 sqlalchemy-1.4.23

In [2]:
import pymysql
import pandas as pd
import numpy as np
import sqlalchemy
import gc
engine =sqlalchemy.create_engine(
        sqlalchemy.engine.url.URL.create(
        drivername="mysql+pymysql",
        username='Estimators',  # e.g. "my-database-user"
        password='Estimator2021',  # e.g. "my-database-password"
        host='34.77.88.127',  # e.g. "127.0.0.1"
        port=3306,  # e.g. 3306
        database='Housing_France',  # e.g. "my-database-name"
    ))

conn = engine.connect().execution_options(stream_results=True)

In [4]:
# Import DataFrame based on query
querystring="""Select * from data_working Limit 10"""
df = pd.read_sql(querystring, conn)
df.head(10)

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2016-1,2016-01-08,1,Vente,40000,77,,RUE TONY REVILLON,0560,1750,...,Appartement,50,2,,,,,0,4.840606,46.304486
1,2016-2,2016-01-11,1,Vente,1677,5246,,LES BROTTEAUX,B011,1160,...,Local industriel. commercial ou assimilé,0,0,S,sols,,,838,5.323666,46.040803
2,2016-3,2016-01-08,1,Vente,7915000,32,,BD ST NICOLAS,3430,1000,...,Local industriel. commercial ou assimilé,3836,0,S,sols,,,1151,5.234834,46.204895
3,2016-4,2016-01-08,1,Vente,90000,5156,,PELUS,B203,1560,...,Maison,150,6,S,sols,,,1220,5.059020,46.386697
4,2016-6,2016-01-04,1,Vente,203700,5149,,AU BOURG,B014,1190,...,Maison,98,4,S,sols,,,500,4.996678,46.383446
5,2016-6,2016-01-04,1,Vente,203700,5149,,AU BOURG,B014,1190,...,Maison,98,4,AG,terrains d'agrément,,,750,4.996678,46.383446
6,2016-7,2016-01-09,1,Vente,147000,205,,RUE DE LA VILLE,0031,1340,...,Maison,70,2,S,sols,,,464,5.161898,46.290693
7,2016-8,2016-01-12,1,Vente,95000,580,,RTE DU PETIT MONTATIN,0295,1340,...,Maison,91,2,S,sols,,,921,5.156324,46.309770
8,2016-9,2016-01-15,1,Vente,273150,65,,LOT PRES MICHEL,A014,1340,...,Maison,113,4,S,sols,,,1125,5.181398,46.370973
9,2016-10,2016-01-15,1,Vente,75000,5083,,LA VILLE,B135,1370,...,Maison,120,3,S,sols,,,50,5.351734,46.244752

In [7]:
df['code_type_local'].head(1)

0    2
Name: code_type_local, dtype: int64

In [6]:
df.columns

Index(['id_mutation', 'date_mutation', 'numero_disposition', 'nature_mutation',
       'valeur_fonciere', 'adresse_numero', 'adresse_suffixe',
       'adresse_nom_voie', 'adresse_code_voie', 'code_postal', 'code_commune',
       'nom_commune', 'code_departement', 'ancien_code_commune',
       'ancien_nom_commune', 'id_parcelle', 'ancien_id_parcelle',
       'numero_volume', 'lot1_numero', 'lot1_surface_carrez', 'lot2_numero',
       'lot2_surface_carrez', 'lot3_numero', 'lot3_surface_carrez',
       'lot4_numero', 'lot4_surface_carrez', 'lot5_numero',
       'lot5_surface_carrez', 'nombre_lots', 'code_type_local', 'type_local',
       'surface_reelle_bati', 'nombre_pieces_principales',
       'code_nature_culture', 'nature_culture', 'code_nature_culture_speciale',
       'nature_culture_speciale', 'surface_terrain', 'longitude', 'latitude'],
      dtype='object')